################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CreateFile_Mapping_tests/.vs/CreateFile_Mapping_tests/v14
/CreateFile_Mapping_tests/Debug
/CreateFile_Mapping_tests/CreateFile_Mapping_tests.VC.db
/CreateFile_Mapping_tests/CreateFile_Mapping_tests.VC.VC.opendb
